<h1>Activities ({{ totalElements }})</h1>

<input ng-model="search" />
<button class="btn btn-default" ng-click="getActivities()">Search</button>
<button class="btn btn-default" ng-click="search = null; getActivities()">Clear</button>

<table class="table table-bordered" ng-init="getActivities()">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="activity in activities">
			<td>{{ activity.id }}</td>
			<td>{{ activity.name }}</td>
			<td>
				<button type="button" class="btn btn-danger btn-sm" ng-click="deleteActivity(activity.id, $index)">Delete</button>
				<a class="btn btn-default btn-sm" href="#/activities/edit/{{ activity.id }}">Edit</a>
			</td>
		</tr>
	</tbody>
</table>

<div class="col-md-12 text-right">
	<button class="btn btn-default" ng-click="changePage(page - 1)" ng-disabled="page == 0">Previous</button>
	<span class="label label-default">{{ page + 1 }}</span>
	<button class="btn btn-default" ng-click="changePage(page + 1)" ng-disabled="page == totalPages - 1">Next</button>
</div>

<div class="col-md-12 text-center">
    <span ng-hide="successMessage || errorMessage" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
    <span class="label label-danger">{{ errorMessage }}</span>
</div>

<a href="#/activities/add">Add activity</a>