<h1>Activities</h1>

<table class="table table-bordered" ng-init="getActivities()">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="activity in activities">
			<td>{{ activity.id }}</td>
			<td>{{ activity.name }}</td>
			<td>
				<button type="button" class="btn btn-danger btn-sm" ng-click="deleteActivity(activity.id, $index)">Delete</button>
				<a class="btn btn-default btn-sm" href="#/activities/edit/{{ activity.id }}">Edit</a>
			</td>
		</tr>
	</tbody>
</table>

<div class="col-md-12 text-center">
    <span ng-hide="successMessage || errorMessage" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
    <span class="label label-danger">{{ errorMessage }}</span>
</div>

<a href="#/activities/add">Add activity</a>