<h1>WAFEPA - Add/edit log</h1>

<form class="form-horizontal" ng-init="initLog()">

	<div class="form-group">
        <label class="col-sm-2">Activity </label>
        <div class="col-sm-6">
            <select class="form-control" ng-options="activity as activity.name for activity in activities" ng-model="activitySelected">
            </select>
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-2">Date </label>
        <div class="col-sm-6">
            <input class="form-control" ng-model="log.date" />
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-2">Duration </label>
        <div class="col-sm-6">
            <input class="form-control" ng-model="log.duration" />
        </div>
    </div>       

    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-default" ng-click="saveLog()">Save</button>
    </div>
  </div>
</form>
