<div class="container text-center">
    <!-- Example row of columns -->
    <h1>WAFEPA - Home</h1>
    <div class="row">
        <div class="col-md-6">
            <h2>Activities</h2>
            <p>CRUD operations on activities</p>
            <p><a class="btn btn-default" href="#/activities">Go to activities</a>
            </p>
        </div>
        <div class="col-md-6">
            <h2>Users</h2>
            <p>CRUD operations on users</p>
            <p><a class="btn btn-default" href="#/users">Go to users</a>
            </p>
        </div>
    </div>
    <hr>
    
    <a href="#/logs/add">Add new log</a>
</div>