<h1>Logs</h1>

<table class="table table-bordered" ng-init="getLogs()">
	<thead>
		<tr>
			<th>ID</th>
			<th>Date</th>
			<th>Duration</th>
			<th>Activity</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="log in logs">
			<td>{{ log.id }}</td>
			<td>{{ log.date }}</td>
			<td>{{ log.duration }}</td>
			<td>{{ log.activity.name }}</td>
		</tr>
	</tbody>
</table>

<div class="col-md-12 text-center">
    <span ng-hide="successMessage || errorMessage" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
    <span class="label label-danger">{{ errorMessage }}</span>
</div>